platform=darwin
arch=arm64
# Don't omit optional dependencies as they might be needed for native modules
# omit=optional
# Don't ignore scripts as they might be needed for native module compilation
# ignore-scripts=true