rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Users can only read and write to their own document.
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // All authenticated users can read jobs, but only admins can manage them.
    match /jobs/{jobId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && request.auth.token.admin == true;
    }

    // All authenticated users can read companies, but only admins can manage them.
    match /companies/{companyId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && request.auth.token.admin == true;
    }

    // Users can only manage their own CVs.
    match /cvs/{cvId} {
      allow create, read, update, delete: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }

    // Users can only manage their own bookmarks.
    match /bookmarks/{bookmarkId} {
      allow create, read, update, delete: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }

    // Default deny all other access
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
